body {
    padding-top: 0px;
    background-color: black;
  }
  
  h2 {
    color: red;
    text-align: left;
  }
  
  .container {
    width: 100%;
    padding: 20px;
  }
  
  .btn {
    margin-top: 10px;
  }
  
.scrollDiv {
  overflow-y: hidden !important;
}
.starwars-icon {
  width: 100px;
  height: 80px;
}